/*字体库*/
@font-face {
  font-family: "perficon";
  src: url("perficon.eot"); /* IE9*/
  src: url("perficon.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("perficon.woff") format("woff"),
    /* chrome、firefox */ url("perficon.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("perficon.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}